* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Press Start 2P", cursive;
}
.title {
  background: -webkit-linear-gradient(#302b63, #373758);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.play-again-btn {
  display: flex;
  align-items: center;
  font-family: inherit;
  font-weight: 500;
  font-size: 17px;
  padding: 0.8em 1.3em 0.8em 0.9em;
  color: white;
  background: #ad5389;
  background: linear-gradient(to right, #0f0c29, #302b63, #24243e);
  border: none;
  letter-spacing: 0.05em;
  border-radius: 16px;
}

.play-again-btn svg {
  margin-right: 3px;
  transform: rotate(30deg);
  transition: transform 0.5s cubic-bezier(0.76, 0, 0.24, 1);
}

.play-again-btn span {
  transition: transform 0.5s cubic-bezier(0.76, 0, 0.24, 1);
}

.play-again-btn:hover svg {
  transform: translateX(5px) rotate(90deg);
}

.play-again-btn:hover span {
  transform: translateX(7px);
}

.form-control {
  height: 80px;
  font-size: 32px;
}
